body{
	margin-top:10%;
	font-family:"helvetica";
}

#about{
	margin-top: -10%;
}

#fancy_letter{
	font-size:72px;
	color:#ff69b4;
}


#canvas{
	display: none;
}

#video{
	display: none;
}

.output{
	text-align: center;
}
.camera{
	text-align: center;
}

button{

	text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #ff69b4}

.button:active {
  background-color: #ff69b4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}