body{
	margin-top:10%;
	font-family:"helvetica";
}

#top-bar{
	position: relative;
	top: 0;

}

#homebutton{
	position: relative;
	top: -250px;
	width: 50px;
}

#about{
	margin-top: -10%;
}

#fancy_letter{
	font-size:72px;
	color:#ff69b4;
}

#photobooth{
	 position: absolute;
     bottom: -500px;
     width: 100%;
}

#canvas{
	margin: 0 auto;
	display: none;
}

#video{
	margin: 0 auto;
	display: none;
}

.output{
	margin: 0 auto;
	text-align: center;
}
.camera{
	margin: 0 auto;
	text-align: center;
}

button{

  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #ff69b4}

.button:active {
  background-color: #ff69b4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}