h1{
	font-family:"helvetica";
	
}

body{
	font-family:"helvetica";
    position: fixed; 
    overflow-y: scroll;
    width: 100%;

}

.top_bar{
	display: block;
	text-align: center;

	margin-top: 0%;
	margin-left: 3%;
	margin-right: 3%;

	font-size: 20px;
}


.menu_item{

	margin-left: 5px;
	margin-right: 5px;

	text-decoration: none;
	color:#ff69b4;
}
.hlink:hover{
	animation-name: link_hover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	
}

@keyframes link_hover{
	from{
		opacity: 1.0;

	}
	50%{
		opacity: 0.5;
		 filter: alpha(opacity=50);

		 color: blue;
	}
	
	to{
		opacity: 1.0; 
	}
}

#name{
	width: 20%;
	height: 20%;
	margin-left: -1%;
}

#social{
	display: block;
	text-align: center;
}

#vimeo{
	width: 20px;
	height: 20px;
}

#instagram{
	width: 20px;
	height:20px;
}


#white_cat{
	animation-name: slidew;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	

	margin-left: 33%;
	position: absolute;
	z-index: -1;

}

@keyframes slidew {
	from{

		transform: translate(2000px);
		z-index: 2;
	}
	50%{

		transform: translate(0px);
		z-index: 2;
		
	}
	51%{
		z-index:-1;
	}
	
}

#pink_cat{
	animation-name: slidep;
	animation-duration: 10s;
	animation-delay:5s;
	animation-iteration-count: infinite;
	
	margin-left: 33%;
	position: absolute;
	z-index:-1;

	
    
}

@keyframes slidep{
	from{
		transform: translate(2000px);
		z-index: 2

	}
	50%{
		transform: translate(0px);
		z-index: 2;

	}
	51%{
		z-index:-1;
	
	}
	to{
		z-index:-1;
	}
}



