h1{
	font-family:"helvetica";
	
}

body{
	font-family:"helvetica";
    position: fixed; 
    overflow-y: scroll;
    width: 100%;

}

.menu{
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;

	font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;

}

li{
	 margin:0 0 20px 0;   
	 width: 100px;
	 height: 30px;

}

a{
	color:#ff69b4;
}
a:hover{
	 box-shadow: 10px 10px 9px #ff69b4;
}

#name{
	width: 20%;
	height: 20%;
}

#cats{
	position: relative;
	top: -300px;
}

#white_cat{
	animation-name: slidew;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	z-index: -1;
	
	margin-left: 25%;
	margin-bottom:0%;
}

@keyframes slidew {
	from{
		margin-left: 100%;
		z-index: 2;
	}
	50%{
		margin-left:25%;
		z-index: 2;
		
	}
	51%{
		z-index:-1;
	}
	
}

#pink_cat{
	animation-name: slidep;
	animation-duration: 10s;
	animation-delay:5s;
	animation-iteration-count: infinite;
	
	margin-left: 100%;
	margin-bottom:0%;
	z-index:-1;

	position: relative;
	bottom: 435px;
    
}

@keyframes slidep{
	from{
		margin-left: 100%;
		z-index: 2

	}
	50%{
		margin-left: 25%;
		z-index: 2;

	}
	51%{
		z-index:-1;
	
	}
	to{
		margin-left:25%;
	}
}



