/* resume stylesheet */

#cv{
	
	margin-top: -10%;
	margin-bottom: -10%;
}

body{
	font-family:Helvetica;
	margin-left: 100px

}

h1{
	text-align:left;

}

h3{
	color: #ff69b4
}

ul{
	list-style: katakana;
}

#homebutton{
  position: relative;
	top: 0;
	width: 50px;
	margin-bottom: 9%;
}




.column {
    float: left;
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.top-bar{
	position: relative;
	top: 0;
	width: 100%;
	margin-bottom: 9%;
}

#doodle{
	position: relative;
	top: 100px;
    right: -200px;
}


.pop{
	font-weight: bold;
}

.description{
	font-style:italic;
	margin-top: 5px;	
	margin-bottom: 4px;
}
