/* resume stylesheet */

#cv{
	
	margin-top: -10%;
	margin-bottom: -10%;
}

body{
	font-family:Helvetica;
	margin-left: 100px

}

h1{
	text-align:left;

}

h3{
	color: #ff69b4
}

#doodle{
	position: relative;
	top: 100px;
    right: -200px;
}


.pop{
	font-weight: bold;
}

.description{
	font-style:italic;
	margin-top: 5px;	
	margin-bottom: 4px;
}
